.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    width: 20%;
    height: auto;
    border: 10px solid blue;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
}

.card img{
    width: 180px;
    height: 250px;
}